<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"> 
    <a class="navbar-brand" routerLink="/">
       <img src="favicon.ico" alt="BOX-SAFE"> BOX-SAFE 
    </a>
    <!-- Links -->
<ul class="navbar-nav ml-auto" *ngIf="isAuth && isUserId">
    <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fas fa-bars"></i>
            </a>
            <div class="dropdown-menu lf-auto">
              <a class="dropdown-item" (click) ="getBack()"> <i class="fas fa-sign-out-alt"></i> Logout </a>
              <a class="dropdown-item"  routerLink = "/data"> first Pague </a>
            </div>
          </li>
</ul>
</nav>
<div class="row" *ngIf = "isAuth && isUserId">
<div class="col-12">
    <app-other-list></app-other-list>
</div>
</div>
<div class="container" *ngIf = "!isAuth">
<div class="alert alert-warning" style="text-align: center">
    <p><strong>Empty pague.</strong> Login first!!!</p>
    <button class="btn btn-warning" (click)= "getBack()"> <i class="fa fa-arrow-left"></i> back</button>
</div>
</div>
<div class="container" *ngIf = "!isUserId">
<div class="alert alert-danger" style="text-align: center">
    <p><strong>Error with your login.</strong>  Login Again please!!!</p>
    <button class="btn btn-danger" (click)= "getBack()"> <i class="fa fa-arrow-left"></i> back</button>
</div>
</div>