div.button-group-align{
    position: relative;
    left: 60%;
    bottom: 6%;
}
div.button-group-align button.btn.btn-danger{
    position: relative;
    left: 3%;
}
div.card{ 
    width: 18rem;
    margin: 0.5rem;
    float: left;
    height: 15rem;
}
div pre {
    margin-top: 0;
    margin-bottom: 1rem !important;
    height: 108px;
    overflow: auto;
}
button.btn.btn-info.data{
    position: absolute;
    left: 104%;
}
div.input-group.mb-3{
width: 40%;
}
div.container{
    position: absolute;
}

@media (max-width: 400px) {

    div.button-group-align{
        left: 65%;
    }

    div.input-group.mb-3{
        width: 100%;
    }
}