<mat-sidenav-container class="auth_style">
  <mat-sidenav position="end" mode="side" opened class="sidenav-content">
    <h1 class="mark_style"> <i class="fas fa-user-lock"></i> Box-safe </h1>
  </mat-sidenav>
<mat-sidenav-content>
    <div class="card" id="desktop_style">
       <div class="card-header"> Login </div>
          <div class="card-body">
            <form #users = "ngForm" (ngSubmit) = "onLoginUser()">
               <div class="form-group">
                 <label for="email">Email:</label>
                   <div class="input-group">
                          <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                          <input class="form-control" type="email" name="email"  #name ="ngModel" [(ngModel)] = "email" required >
                   </div>         
              </div>
              
             <div class="form-group">
               <label for="password">Password:</label>
                 <div class="input-group">
                   <span class="input-group-text"> <i class="fas fa-key"></i></span>
                     <input type="password" class="form-control" name="password" [(ngModel)] = "password" >
                   </div>
                </div>
                <button type="submit" class="btn primary" [disabled] ="!users.valid"> Login </button>
            </form>
          </div>
         </div>
         <div class="message_error"> 
                <div class="alert alert-warning"  *ngIf="(users.valid) && (error.message.length > 0)">
                  {{error.message}}!!!
                </div>
         </div>
</mat-sidenav-content>
</mat-sidenav-container>

<div class="row" id="style_mobile_login">
  <div class="col-md-5">
      <div class="card">
        <div class="card-header"> Login </div>
        <div class="card-body">
          <form #users = "ngForm" (ngSubmit) = "onLoginUser()">
            <div class="form-group">
              <label for="email">Email:</label>
              <div class="input-group">
                    <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                    <input class="form-control" type="email" name="email"  #name ="ngModel" [(ngModel)] = "email" required >
              </div>         
          </div>
        
          <div class="form-group">
            <label for="password">Password:</label>
              <div class="input-group">
                <span class="input-group-text"> <i class="fas fa-key"></i></span>
                <input type="password" class="form-control" name="password" [(ngModel)] = "password" >
              </div>
          </div>
          <button type="submit" class="btn primary" [disabled] ="!users.valid"> Login </button>
          </form>
        </div>
      </div>
      <br>
      <div style="text-align: center"> 
        <div class="alert alert-warning"  *ngIf="(users.valid) && (error.message.length > 0)">
          {{error.message}}!!!
        </div>
      </div>
  </div>
</div>
