/*div.card{
    margin: auto;
    width: 50%;
}
@media (max-width: 400px) {

    div.card{
        width: 88%;
    }

}*/
/* z-index --> me sirve para colocar object uno delante del otro**/

div.togglePassword{
    position: absolute;
    right: 3%;
    top: 23%;
    cursor: pointer;
    z-index: 5;
}

.auth_style {
    position: absolute;
    top: 9%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
mat-sidenav.sidenav-content{
    width: 58%;
    background-image: url("../../img/newBodyImg.jpg");
    background-size: cover;
}
div#style_mobile_login{
    display: none;
}
div#desktop_style{
    width: 80%;
    top: 8%;
    left: 12%;
}
h1.mark_style{
    position: relative;
    top: 46%;
    left: 33%;
    width: 40%;
}
div.message_error{
    position: relative;
    top: 15%;
    width: 90%;
    left: 7%;
    text-align: center;
}


@media (max-width: 600px) {

    div#style_mobile_login{
        display: block;
    }
    mat-sidenav-container.auth_style{
        display: none;
    }

}